
<div class="container">
    <img src="https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_1024,h_658/https://www.corpus-aesthetics.com/wp-content/uploads/2020/09/Research-Your-Area-1024x658.jpg"
    height="800px" width="100%">
<div class = "Welcome"> WELCOME TO GOLD'S GYM</div>
  </div>



